@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #34495e;
}