@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #34495e;
}

div.photo {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 300px;
  flex: 0 0 33.33%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.photo * {
  box-sizing: border-box;
}

div.photo img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}
