@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #34495e;
}

div.photo {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 300px;
  flex: 0 0 33.33%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.photo * {
  box-sizing: border-box;
}

div.photo img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.photo i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  transform: translate(-50%, -50%) scale(0);
}

div.photo a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.photo.blue {
  background-color: #34495e;
}

div.photo.blue i {
  color: #34495e;
}

div.photo.red {
  background-color: #e74c3c;
}

div.photo.red i {
  color: #e74c3c;
}

div.photo.green {
  background-color: #16a085;
}

div.photo.green i {
  color: #16a085;
}

div.photo:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.photo * {
  transition: all .5s ease-in-out;
}

div.photo:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}