body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 15vw;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  color: #FFF;
  font-size: 20px;
  padding: 10px;
}