body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  animation: skyColor 5s linear infinite;
}

.sun {
  background-color: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.grass {
  background-color: #27ae60;
  height: 600px;
  width: 100%;
  position: absolute;
}

@keyframes skyColor {
  0% {
    background-color: #2c3e50;
  }
  
  10% {
    background-color: pink;
  }
  
  30% {
    background-color: blue;
  }
  
  70% {
    background-color: blue;
  }
  
  90% {
    background-color: pink;
  }
  
  100% {
    background-color: #2c3e50;
  }
}

@keyframes sunColor {
  0% {
    background-color: orangered;
    transform: translate(-200px, 200px);
  }
  
  25% {
    background-color: yellow;
    transform: translate(330px, 0px);
  }
  
  50% {
    transform: translate(860px, -50px);
  }
  
  75% {
    background-color: yellow;
    transform: translate(1390px, 0px);
  }
  
  100% {
    background-color: red;
    transform: translate(1920px, 200px);
  }
}